<div class="fixed-header error-page ">
    <div class="container-xs-height full-height">
        <div class="row-xs-height">
            <div class="col-xs-height col-middle">
                <div class="error-container text-center">
                    <h1 class="error-number">404</h1>
                    <h2 class="semi-bold">Looks like we couldn't find the page you were looking for</h2>                    
                    <div class="error-container-innner text-center">
                        <p>Please try again later or try another page–one or both of those ought to work, but if you're still experiencing issues, please let us know</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>