<div class="fixed-header error-page ">
    <div class="container-xs-height full-height">
        <div class="row-xs-height">
            <div class="col-xs-height col-middle">
                <div class="error-container text-center">
                    <h1 class="error-number">404</h1>
                    <h2 class="semi-bold">Our server didn't like something the page tried to do</h2>
                    <div class="error-container-innner text-center">
                        <p>Please try again later or try refreshing the page</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>