<div class="footer">
    <div class="container" layout="column" layout-align="space-between start">

        <div flex layout layout-md="column" layout-sm="column">
            <div flex="50" flex-md="100" flex-sm="100" layout layout-md="column" layout-sm="column">
                <div flex="33" flex-md="100" flex-sm="100" layout="column" layout-align="space-between start" class="p-b-10">
                    <div class="p-b-50">
                        <md-icon class="margin-0" style="width: 150px; height: 36px;" md-svg-src="../../img/icons/dcg-logo-light.svg" aria-label="JoshuaClingo Logo"></md-icon>
                        
                    </div>
                    
                    <div class="footer-social">
                        <a class="fa fa-facebook" href="https://www.facebook.com/pages/Database-Consulting-Group/131156316912097" target="_blank"></a>
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/company/1984326?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A1984326%2Cidx%3A1-1-1%2CtarId%3A1441309643633%2Ctas%3Adatabase%20consulting%20group" target="_blank"></a>
                        <a class="fa fa-twitter" href="https://twitter.com/DatabaseCG" target="_blank"></a>
                    </div>
                </div>
                <div flex="33" flex-md="100" flex-sm="100" class="footer-contact p-b-10">
                    <div class="font-weight-500 m-b-25">Contact</div>
                    <div>220 W 540 N </div>
                    <div>Orem UT 84057</div>
                    <div class="footer-contact-item">Bryn Rhodes</div>
                    <div>(801) 210-0324</div>
                    <a class="white" href="mailto:info@databasecg.com?Subject=Information">
                        info@databasecg.com
                    </a>
                </div>
                <div flex="33" flex-md="100" flex-sm="100" class="p-b-10">
                    <div class="font-weight-500 m-b-25">Site map</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.welcome.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.welcome.base)">Home</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.news.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.news.base)">News</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.organization.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.organization.base)">Organization</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.projects.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.projects.base)">Projects</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.software.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.software.base)">Software</div>
                    <div class="sitemap-menu-item" ng-class="containsPath(relativePath.contact.base) ? 'selected' : 'unselected'" ng-click="navigate(relativePath.contact.base)">Contact</div>
                </div>
            </div>
            
            <div flex="50" flex-md="100" flex-sm="100">
                <div class="font-weight-500 m-b-25">Database Consulting Group (JoshuaClingo) is a right-sized consulting firm driven to architect and construct quality, data-driven business solutions</div>
                <div>Whether you need high-performance billing services or a custom, cross-platform mobile application, JoshuaClingo has specialized expertise in architecting, developing, and maintaining data-driven business solutions</div>
            </div>
        </div>

        <div class="p-t-40" style="color:#999">
            Database Consulting Group, LLC &copy;
        </div>
    </div>

    
</div>