/*Style overrides to angular material css*/

button, select, html, textarea, input {
  font-family: 'Segoe UI', 'Helvetica Neue', sans-serif; 
}

md-card {
    margin: 0;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
    color: #f58b2e;
}

md-tabs .md-tab .md-ripple-container {
    color: rgba(245,239,46, 0.5);
}

md-tabs md-ink-bar {
    color: #f58b2e;
    background-color: #f58b2e;
}

md-divider.thick {
    border-top-width: 2px;
}

md-card md-card-content {
    padding: 0;
}