* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: optimizeQuality;
}

html {
    height:100%;
    min-height:100%
}
body {
    min-height: 100%;
}

:focus{
    outline:none;
}

*::selection {
    background: #FF5722;
    color: #fff;
}

body {
    font-size: 100%;
    font-size: 1.125em;
    line-height: 1.556em;
    background: #efece5;
    color: #333;
    text-rendering: geometricPrecision;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-overflow-scrolling: touch;
    height: auto;
    top: 0;
    left: 0;
    min-height: 100%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
    transition: 300ms ease-out;
}

.ng-hide-remove{
    animation:0.5s fadeIn ease; 
}

.ng-hide-add{
    animation:0.5s fadeOut ease; 
}

.header {
    position: fixed; 
    width:90%;
    height: 60px;
    line-height: 60px;
    z-index: 50;
    transform: translate3d(0, -60px, 0);
    transition: all 2s ease-in-out;
    transition: background 0.5s linear;
}

.header-backdrop{
position: fixed;
    /*left: 50%;
    margin-left: -690px;*/
    width:90%;
    height: 60px;
    /*top: 30px;*/
    line-height: 60px;
    z-index: 2;
    /*top:0;*/
    /*opacity: 0;*/
    transition: all 2s ease-in-out;
    transition: background 0.5s linear;
    background-color: #262424;

}

.header-backdrop.ng-hide-remove{
    animation:0.5s slideInDown ease; 
}

.header-backdrop.ng-hide-add{
    animation:0.5s slideOutUp ease; 
}


.company-logo {
    transition: none;
}

.company-logo:hover{
    cursor:pointer;
}

.company-logo.ng-hide-remove{
    animation:none;
}

.company-logo.ng-hide-add{
    animation:none;
}


.header-top{
    /*top:0px;*/
    transform: translate3d(0, 0, 0);
    background-color:transparent;
}

.header-body {
    /*background-color: #262424;*/
    transform: translate3d(0,0,0);
}

.container{
    padding-left: 5%;
    padding-right: 5%;
}

.container-slide {
    margin-top: -64px;
}

.full-screen{
    height: 100vh;
    width: 100%;
}

.main-banner, .minor-banner{
    top: 0;
    min-height: 510px;
    height: 100vh;
    width: 100%;
    color: #fff;
    overflow: hidden;    
    padding: 0 60px;
    transition: all 0.75s linear;
}

.minor-banner {
    height: 75vh;
}

.main-banner.ng-hide-remove, .minor-banner.ng-hide-remove{
    animation:1s fadeInDownBanner ease; 
}

.main-banner.ng-hide-add, .minor-banner.ng-hide-add{
    animation:1s fadeOutUpBanner ease; 
}


.circle-outline{
    
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1.5em;
    line-height: 60px;
    border-radius: 100%;
    z-index: 1;
    transition: all 1s ease-in-out;
}

.circle-outline:hover{
    /*border-color:transparent;
    background-color:rgba(0,0,0,0.5);*/
    cursor:pointer;
    .inner{
        opacity: 1;
        color:#f57f17;
    }
}

.circle-outline > .arrow{
    animation: 2.5s infinite slideInUpDown ease-in-out; 

}

.main-title {
    font-size: 4.16667em;
    line-height: 1.2em;
    color: white;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.main-subtitle{
    font-size: 1.38889em;
    line-height: 1.2em;
    color: white;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.main-subtitle-line:before{
    content: '';
    display:block;
    width: 60px;
    height: 2px;
    margin: 37px 0;
    background: #fff;
}

.main-button {
    font-size: 48px; 
}

.services {
    background-color: white;
}

.background-semi-transparent {
    background-color: rgba(0, 0, 0, 0.25);
}

.bg-full {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.article-selected{
    padding: 60px 120px;
    background-color:white;
}

.article-selected-image {
    width: 100%;
}

.article-selected-text{
    padding: 60px 60px 30px;
}

.article-selected-title{
    font-size: 2.22222em;
    line-height: 1.125em;
    padding-bottom: 30px;
    color:#333;
    text-transform:uppercase;
}

.article-selected-description{ 
    font-size: 1.33333em;
    line-height: 1.25em;
}

.article-selected-body {
    color: #666;
}

.article-selected-body > ul > li {
    margin-bottom: 20px;
}

/*Projects*/

.project-selected{
    padding: 60px 120px;
    background-color:white;
}

.project-selected-image {
    width: 100%;
}

.project-selected-text{
    padding: 60px 60px 30px;
}

.project-selected-title{
    font-size: 2.22222em;
    line-height: 1.125em;
    padding-bottom: 30px;
    color:#333;
    text-transform:uppercase;
}

.project-selected-description{ 
    font-size: 1.33333em;
    line-height: 1.25em;
}

.project-selected-body {
    color: #666;
}

.project-selected-body > ul > li {
    margin-bottom: 20px;
}

.content, .minor-content{
    position: relative;
    z-index: 1;
    color: #666;
    background: #efece5;
    margin-top: 540px;
    margin-top: 100vh;
}

.minor-content {
    margin-top: 75vh;
}

.sans-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.serif-text{
    font-family: 'Baskerville Old Face', 'Baskerville', 'Times New Roman', Times, serif !important;
}

.row-text-3 {
    font-size: 1.66667em;
    line-height: 1.33333em;
}

.row-inner{
    padding: 0 120px !important;
}

.row {
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 1px solid #efece5;
    border-bottom: 1px solid #efece5;
    border-right: 1px solid #efece5;
    border-left: 1px solid #efece5;
    background-color:white;
}

.row-height-0{ height:0; }
.row-height-10 {height:10px;}
.row-height-20 {height:20px;}
.row-height-30 {height:30px;}
.row-height-40 {height:40px;}
.row-height-50 {height:50px;}
.row-height-100 {height:100px;}
.row-height-200 {height:200px;}
.row-height-270 {height:270px;}
.row-height-300 {height:300px;}
.row-height-360 {height:360px;}
.row-height-400 {height:400px;}
.row-height-500 {height:500px;}
.row-height-540 {height:540px;}
.row-height-600 {height:600px;}
.row-height-700 {height:700px;}
.row-height-800 {height:800px;}
.row-height-900 {height:900px;}
.row-height-1000 {height:1000px;}

.row-padding{
    padding:0 60px;
}

.button:hover {
    color: #fff;
    background: #FF5722;
    border: 1px solid #f44336;
    cursor:pointer;
}

.button {
    transition: 300ms ease-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.61111em;
    line-height: 3.63636em;
    display: inline-block;
    height: 40px;
    padding: 0 40px;
    margin-top: 30px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.block-title{
    color: #333;
    font-size: 1.11111em;
    line-height: 1.35em;
    height: 2.6em;
    width: 110%;
    transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
}

.block-category {
    margin-bottom: 40px;
    color: #ccc;
    font-size: 0.61111em;
    line-height: 1.36364em;
    text-transform: uppercase;
}

.block-more {
    display: inline-block;
    margin-top: 20px;
    color: #999;
    font-size: 0.77778em;
    line-height: 1.64286em;
    transition: all 300ms ease-out;
}

.block-more:hover{
    color:#FF5722;
}

.block-title:hover, .block-category:hover, .block-more:hover{
    cursor:pointer;
}

.agency-title{
    color: #333;
    margin-bottom: 20px;
    font-size: 1.22222em;
    line-height: 1.90909em;
}

.agency-body{
    line-height: 42px;
    font-size: 1.38889em;
}

.cover {
    position:fixed;
    top:0;
    left:0;
    background:transparent;
    width:100%; 
    height:100%;
    transition: z-index 1s linear;
}

.cover.open{
    z-index:50;
}

.cover.closed {
    z-index:0;
}

.navigation-description {
    position: relative;
    color: #333;
    font-size: 2.27778em;
    line-height: 1.21951em;
    padding: 0 90px;
}

.navigation-footer{
    /*padding: 60px 90px;*/
    padding: 0 90px 60px 90px;
    font-size: 0.83333em;
    line-height: 1.2em;
    color: #999;
    font-weight:500;
}

.navigation-footer a{ 
    color:#999;
}

.menu-text {
    text-transform: uppercase;
    font-size: 0.83333em;
    line-height: 4em;
    font-weight:500;
}

.navigation-menu {
    font-size: 2.77778em;
    line-height: 1.2em;
    padding: 0 90px;
}

.navigation-menu-item{
    color: #666;
    transition: 300ms ease-out;
}

.navigation-menu-item.selected{
    color:white;
}

.navigation-menu-item:hover{
    color:white;
    cursor:pointer;
}

.navigation-left-wrapper, .navigation-right-wrapper{
    background-color:transparent;
}

.navigation-left.ng-hide-remove{
    animation:1s slideInLeft ease; 
}

.navigation-left.ng-hide-add{
    animation:1s slideOutLeft ease;
}

.navigation-right.ng-hide-remove{
    animation:1s slideInRight ease; 
}

.navigation-right.ng-hide-add{
    animation:1s slideOutRight ease; 
}

.navigation-social{
    font-size: 1.3em;
}

.navigation-social a{
    margin-left: 16px;
    transition: 300ms ease-out;
}

.navigation-social a:hover{
    color: #FF5722;
    cursor: pointer;
}

.odometer-container{
    font-size: 1.111111em;
    line-height: 1.5em;
}

.odometer{
    font-size: 4em;
    line-height: 1.1em;
    margin-bottom: 15px;
}

.footer{
    position: relative;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000',GradientType=0);
    color: #efece5;
    padding: 120px 0 90px;
    margin-top: -60px;
    font-size: 0.77778em;
    line-height: 1.5em;
}


.footer-social{
    font-size: 1.3em;
}

.footer-social a{
    margin-right: 16px;
    transition: 300ms ease-out;
    color:white;
}

.footer-social a:hover{
    color: #FF5722;
    cursor: pointer;
}

.sitemap-menu-item{
    color: #666;
    transition: 300ms ease-out;
}

.sitemap-menu-item.selected{
    color:white;
}

.sitemap-menu-item:hover{
    color:white;
    cursor:pointer;
}

.footer-contact-item:before {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    margin: 4px 0;
    background: #fff;
}

.organization-members{
    padding: 60px 30px;
}

.organization-member-cell{
    padding-bottom: 30px;
}

.organization-member-cell-header {
    color: #e4e8e4;
     font-size: 0.9375em;
    line-height: 1.46667em;
}

.organization-member-cell-body {
    color: #e4e8e4;
    font-size: 0.88889em;
    line-height: 1.375em;
}

.organization-member-cell-detail a {
    border-bottom: 1px solid #e4e8e4;
}

.organization-member-cell-detail a:hover{
    color: #333;
    border-bottom: 1px solid #333;
}

.organization-description {
    padding: 60px 30px;
}

.organization-description-header{
    color: #333;
    font-size: 1.22222em;
    line-height: 1.90909em;
}

.contact-info {
    padding: 60px 30px;
}

.contact-info > a {
    color:white;
}

.contact-map-container {
    width: 100%;
    height: 100%;
    position: relative;
}





@media (max-width: 599px)
{
    .row {
        height:100%;
        padding: 10px;
        border: none !important;
    }

    .row-inner {
        padding: 0 40px !important;
    }

    .row-filler{
        display: none !important;
    }

    .main-title{
        font-size: 2em;
    }

    .row-padding{
        padding: 0 20px;
    }

}

