<div ng-controller="welcomeCtrl" class="welcome">
    <img src="../../img/software-imac.jpg" class="bg-full"/>
    <div class="container">
        <div class="full-screen relative">
            <div class="fixed full-height main-banner-container" layout="row" layout-align="center center">
                <div class="full-height w-100 main-banner" ng-hide="waypoint.content.flags.on" layout="column" layout-align="center start">
                    <div class="main-title m-t-20 m-b-20 sans-text">
                        Data-driven Business Solutions
                    </div>
                    <div class="main-subtitle main-subtitle-line serif-text">
                        Database Consulting Group (JoshuaClingo) is a right-sized consulting firm driven to architect and construct quality, data-driven business solutions
                    </div>
                    <div layout="row" layout-align="center center" class="w-100 p-t-50">
                        <div class="circle-outline" layout layout-align="center center" scroll-to="content">
                            <i class="fa fa-angle-down arrow"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content" id="content" zum-waypoint="waypoint.content" down="flags.on" up="flags.off" offset="80%">

            <div class="row row-height-360" layout="column" layout-align="center center">
                <div class="row-inner">
                    <p class="row-text-3 serif-text text-center">
                        <em>Database Consulting Group</em> (JoshuaClingo) has attracted numerous clients, large and small. Our primary goal is architecting quality, data-driven business solutions.
                    </p>
                </div>
                <div class="button" ng-click="navigate(relativePath.projects.base)">SEE OUR PROJECTS</div>
            </div>
            <div class="row no-border-top no-border-bottom" layout="row" layout-md="column" layout-sm="column">
                <div flex="50" flex-md="100" flex-sm="100" class="relative">
                    <div layout="column" class="">
                        <div class="row-height-540 row-padding row no-border-top no-border-left" layout="row" layout-md="column" layout-align="center center">
                            <gallery></gallery>
                        </div>

                        <div layout layout-md="column" layout-sm="column" class="row-height-300 row no-border-left no-border-bottom no-border-top">
                            <div flex="50" flex-md="100" flex-sm="100" class="row no-border-left no-border-bottom no-border-top" layout layout-align="center center" ng-click="navigate(relativePath.software.base + 'Dataphor')">
                                <div class="row-padding">
                                    <div class="block-category"><strong>Software —</strong>#Dataphor</div>
                                    <div class="block-title">Dataphor (D4)</div>
                                    <div class="block-more"><i class="fa fa-angle-right m-r-10"></i><strong>Learn more</strong></div>
                                </div>

                            </div>
                            <div flex="50" flex-md="100" flex-sm="100" layout layout-align="center center" ng-click="navigate(relativePath.software.base + 'Fastore')">
                                <div class="row-padding">
                                    <div class="block-category"><strong>Software —</strong>#Fastore</div>
                                    <div class="block-title">Fastore</div>
                                    <div class="block-more"><i class="fa fa-angle-right m-r-10"></i><strong>Learn more</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div flex layout="column" layout-align="start start">
                    <div class="row-height-300 row no-border-right no-border-left no-border-top" layout="row" layout-md="column" layout-sm="column" layout-align="start center" layout-align-md="center start" layout-align-sm="center start">
                        <div class="row row-height-300 no-border-left no-border-top no-border-bottom" flex="50" flex-md="100" flex-sm="100" layout layout-align="center center">
                            <div class="row-padding">
                                <div class="block-category"><strong>News /</strong> 2 months ago</div>
                                <div class="block-title">Website redesign</div>
                                <!--Hard-coding the links with args for now in interest of MVP-->
                                <div class="block-more" ng-click="navigate(relativePath.news.base + '2')"><i class="fa fa-angle-right m-r-10"></i><strong>Read more</strong></div>
                            </div>
                        </div>
                        <div flex class="bg-light-tan row row-height-300 no-border row-filler"></div>
                    </div>
                    <div class="row-height-540 row no-border" layout="column" layout-align="center center">
                        <div class="row-padding">
                            <div class="agency-title"><strong>JoshuaClingo</strong></div>
                            <div class="agency-body serif-text">
                                Whether you need high-performance billing services or a custom, cross-platform mobile application, JoshuaClingo has specialized expertise in architecting, developing, and maintaining data-driven business solutions
                            </div>
                            <div class="button" ng-click="navigate(relativePath.organization.base)">About us</div>
                        </div>

                    </div>
                </div>
            </div>
            <div hide-md hide-sm class="row row-height-270 bg-dcg-orange white no-border" layout>
                <div flex="25" layout layout-align="center center">
                    <div class="odometer-container" layout="column" layout-align="center center">
                        <div odometer="stats.years" class="odometer-digit" odometer-options="{duration: 5000}">
                        </div>
                        <div class="odometer-description serif-text">years of excellence</div>
                    </div>

                </div>
                <div flex="25" layout layout-align="center center">
                    <div class="odometer-container" layout="column" layout-align="center center">
                        <div odometer="stats.languages" class="odometer-digit" odometer-options="{duration: 5000}">
                        </div>
                        <div class="odometer-description serif-text">programming languages</div>
                    </div>
                </div>
                <div flex="25" layout layout-align="center center">
                    <div class="odometer-container" layout="column" layout-align="center center">
                        <div odometer="stats.specializations" class="odometer-digit" odometer-options="{duration: 5000}">
                        </div>
                        <div class="odometer-description serif-text">satisfied clients</div>
                    </div>
                </div>
                <div flex="25" layout layout-align="center center">
                    <div class="odometer-container" layout="column" layout-align="center center">
                        <div odometer="stats.products" class="odometer-digit" odometer-options="{duration: 5000}">
                        </div>
                        <div class="odometer-description serif-text">production-ready products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div dcg-footer></div>

</div>