<div ng-controller="contactCtrl" class="organization">
    <img src="../../img/contact-globe.jpg" class="bg-full" />
    <div class="container relative">
        <div class="fixed top-0 minor-banner-container full-height" layout="row">
            <div flex class="w-100 minor-banner" ng-hide="waypoint.content.flags.on" layout="column" layout-align="center center">
                <div class="main-title m-t-20 m-b-20 sans-text">
                    Contact
                </div>
                <div class="main-subtitle serif-text">
                    Let JoshuaClingo know you're interested
                </div>
                <div layout="row" layout-align="center center" class="w-100 p-t-50">
                    <div class="circle-outline" layout layout-align="center center" scroll-to="content">
                        <i class="fa fa-angle-down arrow"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="minor-content" id="content" zum-waypoint="waypoint.content" down="flags.on" up="flags.off" offset="60%">

            <div layout layout-md="column" layout-sm="column" class="height-540">
                <div flex="33" flex-md="100" flex-sm="100" class="bg-dcg-orange contact-info serif-text white">
                    <div class="sans-text">For any information about the organization and its projects, please contact: </div>
                    <div class="m-t-30">Database Consulting Group</div>
                    <div>220 W 540 N</div>
                    <div>Orem, UT 84057</div>
                    <a href="mailto:info@databasecg.com">info@databasecg.com</a>
                </div>
                <div flex hide-md hide-sm class="contact-map-container">
                    <map style="width: 100%; height: 100%;" center="40.3071295, -111.7008516" zoom="12" scrollwheel="false"
                         styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#4f595d"},{"visibility":"on"}]}]'>

                        <marker id="marker" position="40.3071295, -111.7008516"></marker>
                        <info-window visible-on-marker="marker">
                            <div ng-non-bindable="">
                                <h1>Database Consulting Group</h1>
                                <div class="serif-text">
                                    Right-sized consulting firm driven to architect and construct quality, data-driven business solutions
                                </div>
                            </div>
                        </info-window>
                    </map>
                </div>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div dcg-footer></div>

</div>